name: Build and Push Frontend Image

on:
  push:
    branches:
      - main
    paths:
          - '**'
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # ЭТОТ ШАГ ОБЯЗАТЕЛЕН для работы кэша
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push frontend image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # Используем переменную репозитория напрямую
          tags: |
            ghcr.io/${{ github.repository }}:latest
            ghcr.io/${{ github.repository }}:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Deploy to Server via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER }}
          # Используем ваш секрет SSH_PRIVATE_KEY
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            # Переходим в папку проекта на сервере
            cd /var/www/polkanoval-project

            # Авторизуемся в GHCR на сервере
            docker login ghcr.io -u ${{ secrets.USER }} -p ${{ secrets.GITHUB_TOKEN }}

            # Скачиваем новые образы и перезапускаем контейнеры
            docker compose pull
            docker compose up -d

            # Очищаем место от старых образов
            docker image prune -f