name: Build and Push Frontend Image (GHCR)

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write # Это разрешение нужно для записи в GHCR

    steps:
      - uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }} # Используется встроенный токен

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: . # Предполагается, что Dockerfile лежит в корне
          push: true
          # Путь к образу в GHCR
          tags: ghcr.io/${{ github.repository_owner }}/pizza-shop-frontend:latest